#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Youtube (YT-X)
Type=Application
version=0.4.0
Comment=Browse Youtube from the terminal
Terminal=false
Icon=youtube
Exec=/usr/bin/kitty /usr/bin/yt-x --preview
Categories=AudioVideo;Audio;Video;Player;TV;
